In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [4]:
df = pd.read_csv('covid_toy.csv')

In [5]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [6]:
df.shape

(100, 6)

In [7]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [8]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [9]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [15]:
X_train,X_test,Y_train,Y_test = train_test_split(df.iloc[:,0:5],df.iloc[:,-1],test_size=0.2)

In [16]:
X_train.head()

    age  gender  fever   cough       city
59    6  Female  104.0    Mild    Kolkata
39   50  Female  103.0    Mild    Kolkata
62   56  Female  104.0  Strong  Bangalore
0    60    Male  103.0    Mild    Kolkata
13   64    Male  102.0    Mild  Bangalore

In [17]:
Y_train.head()

59    Yes
39     No
62    Yes
0      No
13    Yes
Name: has_covid, dtype: object

In [24]:
## AAM Zindagi
## Simple Imputer class will fill the missing data with the mean of the data

si = SimpleImputer()

X_train_fever = si.fit_transform(X_train[['fever']])

# Also will be doing to the test data 
X_test_fever = si.fit_transform(X_test[['fever']])

X_train_fever.shape

## So, we are getting numpy arrays

(80, 1)

In [25]:
## Ordinal Encoder

oe = OrdinalEncoder(categories=[['Mild','Strong']])

X_train_cough = oe.fit_transform(X_train[['cough']])

# Also to the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [43]:
## One Hot Encoding ----> city and gender
ohe = OneHotEncoder(drop='first',sparse_output=False)

X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# Also to the test data as well

X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [51]:
X_train_gender_city.ndim

2

In [32]:
X_train_age = X_train.iloc[:,0].values

In [33]:
type(X_train_age)

numpy.ndarray

In [34]:
X_train_age.shape

(80,)

In [36]:
X_train_age

array([ 6, 50, 56, 60, 64, 83, 10, 66, 12, 65, 80, 54, 83, 38, 26, 34, 16,
       75, 82, 69, 79, 22, 19, 64, 68, 40, 60, 14, 64, 19, 31, 72, 20, 42,
       27, 16, 24,  8, 69, 71, 19, 27, 17, 80, 82, 49, 81, 65, 55, 12, 15,
       65, 82, 65, 49, 25, 14, 42, 69, 75, 81, 23, 51, 20, 11, 73, 51, 34,
       51, 59,  5, 20, 38,  5, 73, 47, 25, 74, 24, 19])

In [37]:
X_test_age = X_test.iloc[:,0].values

In [38]:
X_test_age.shape

(20,)

In [50]:
X_test_age.ndim

1

In [46]:
import numpy as np

# Ensure all arrays have compatible dimensions
X_train_age = X_train_age.reshape(-1, 1) if X_train_age.ndim == 1 else X_train_age
X_train_fever = X_train_fever.reshape(-1, 1) if X_train_fever.ndim == 1 else X_train_fever
X_train_cough = X_train_cough.reshape(-1, 1) if X_train_cough.ndim == 1 else X_train_cough

# Now concatenate
X_train_transformed = np.concatenate((X_train_age, X_train_fever, X_train_gender_city, X_train_cough), axis=1)

print(X_train_transformed.shape)  # Check the final shape

(80, 7)

In [49]:
X_train_transformed.shape

(80, 7)

In [52]:
## Mentos Zindagi

from sklearn.compose import ColumnTransformer

In [54]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])

],remainder='passthrough')

In [55]:
transformer.fit_transform(X_train).shape

(80, 7)

In [56]:
transformer.transform(X_test).shape

(20, 7)